<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestAll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <TestAll.Properties.Settings>
            <setting name="trtasc1" serializeAs="String">
                <value>0.939913</value>
            </setting>
            <setting name="tdecl1" serializeAs="String">
                <value>18.667717</value>
            </setting>
            <setting name="trtasc2" serializeAs="String">
                <value>45.025748</value>
            </setting>
            <setting name="tdecl2" serializeAs="String">
                <value>35.664741</value>
            </setting>
            <setting name="trtasc3" serializeAs="String">
                <value>67.886655 </value>
            </setting>
            <setting name="tdecl3" serializeAs="String">
                <value>36.996583</value>
            </setting>
            <setting name="time1" serializeAs="String">
                <value>20 Aug 2012 11:40:28.000</value>
            </setting>
            <setting name="time2" serializeAs="String">
                <value>20 Aug 2012 11:48:28.000</value>
            </setting>
            <setting name="time3" serializeAs="String">
                <value>20 Aug 2012 11:52:28.000</value>
            </setting>
            <setting name="lat1" serializeAs="String">
                <value>40.0</value>
            </setting>
            <setting name="lon1" serializeAs="String">
                <value>-110.0</value>
            </setting>
            <setting name="alt1" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="lat2" serializeAs="String">
                <value>40.0</value>
            </setting>
            <setting name="lon2" serializeAs="String">
                <value>-110.0</value>
            </setting>
            <setting name="alt2" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="lat3" serializeAs="String">
                <value>40.0</value>
            </setting>
            <setting name="lon3" serializeAs="String">
                <value>-110.0</value>
            </setting>
            <setting name="alt3" serializeAs="String">
                <value>2.0</value>
            </setting>
        </TestAll.Properties.Settings>
    </userSettings>
</configuration>
